RewriteEngine On

RewriteRule ^sportlethen/([^/]+)$ inc/sportlethen.php?clubs_genre=$1 [QSA,L]
RewriteRule ^sportlethen/([^/]+)/([^/]+)$ inc/club/t_club.php?club=$2 [QSA,L]
RewriteRule ^sportlethen/([^/]+)/([^/]+)/event/([^/]+)$ inc/club/t_event.php?id=$3 [QSA,L]

RewriteRule ^sportlethen/club/([^/]+)$ inc/club/t_club.php?id=$1 [QSA,L]
RewriteRule ^users/([^/]+)$ inc/t_profile.php?username=$1 [QSA,L]
RewriteRule ^sportlethen/club/([^/]+)/event/([^/]+)$ inc/club/t_event.php?id=$1&event_id=$2 [QSA,L]

RewriteRule ^health-wellbeing/news/([^/]+)$ inc/news/t_news.php?id=$1 [QSA,L]

RewriteRule ^health-wellbeing/news/([^/]+)$ inc/news/t_news.php?news_id=$1 [QSA,L]

RewriteRule ^health-wellbeing/news/([^/]+)$ inc/approve.php [QSA,L]
RewriteRule ^health-wellbeing/news/editArticle.php([^/]+)$ inc/editArticle.php [QSA,L]
RewriteRule ^health-wellbeing/news/deleteArticle.php([^/]+)$ inc/deleteArticle.php [QSA,L]

RewriteRule ^inc/(.*)$ route.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ route.php [QSA,L]
