<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="rule 1I" stopProcessing="true">
	<match url="^sportlethen/([^/]+)$"  />
	<action type="Rewrite" url="/inc/sportlethen.php?clubs_genre={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 2I" stopProcessing="true">
	<match url="^sportlethen/([^/]+)/([^/]+)$"  />
	<action type="Rewrite" url="/inc/club/t_club.php?club={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 3I" stopProcessing="true">
	<match url="^sportlethen/([^/]+)/([^/]+)/event/([^/]+)$"  />
	<action type="Rewrite" url="/inc/club/t_event.php?id={R:3}"  appendQueryString="true" />
</rule>
<rule name="rule 4I" stopProcessing="true">
	<match url="^sportlethen/club/([^/]+)$"  />
	<action type="Rewrite" url="/inc/club/t_club.php?id={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 5I" stopProcessing="true">
	<match url="^users/([^/]+)$"  />
	<action type="Rewrite" url="/inc/t_profile.php?username={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 6I" stopProcessing="true">
	<match url="^sportlethen/club/([^/]+)/event/([^/]+)$"  />
	<action type="Rewrite" url="/inc/club/t_event.php?id={R:1}&amp;event_id={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 7I" stopProcessing="true">
	<match url="^health-wellbeing/news/([^/]+)$"  />
	<action type="Rewrite" url="/inc/news/t_news.php?id={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 8I">
	<match url="^inc/(.*)$"  />
	<action type="Rewrite" url="/route.php"  />
</rule>
<rule name="rule 9I" stopProcessing="true">
	<match url="^(.*)$"  />
	<action type="Rewrite" url="/route.php"  appendQueryString="true" />
</rule>
<rule name="rule 10I" stopProcessing="true">
<match url="^((?!css|js|jpg|png).)*$"  />
<action type="Rewrite" url="/route.php"  appendQueryString="true" />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>
