<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="rule 1k" stopProcessing="true">
<match url="^sportlethen/club/([^/]+)$"  />
<action type="Rewrite" url="/inc/club/t_club.php?id={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 1I" stopProcessing="true">
<match url="^sportlethen/([^/]+)$"  />
<action type="Rewrite" url="/inc/sportlethen.php?clubs_genre={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 2I" stopProcessing="true">
	<match url="^sportlethen/([^/]+)/([^/]+)$"  />
	<action type="Rewrite" url="/inc/club/t_club.php?club={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 3I" stopProcessing="true">
	<match url="^sportlethen/([^/]+)/([^/]+)/event/([^/]+)$"  />
	<action type="Rewrite" url="/inc/club/t_event.php?id={R:3}"  appendQueryString="true" />
</rule>
<rule name="rule 4I" stopProcessing="true">
	<match url="^users/([^/]+)$"  />
	<action type="Rewrite" url="/inc/t_profile.php?username={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 2k" stopProcessing="true">
<match url="^sportlethen/club/([^/]+)/event/([^/]+)$"  />
<action type="Rewrite" url="/inc/club/t_event.php?id={R:1}&amp;event_id={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 3k" stopProcessing="true">
<match url="^health-wellbeing/news/([^/]+)$"  />
<action type="Rewrite" url="/inc/news/t_news.php?id={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 4k">
<match url="^inc/(.*)$"  />
<action type="Rewrite" url="/route.php"  />
</rule>
<rule name="rule 5k" stopProcessing="true">
<match url="^((?!css|js|jpg|png).)*$"  />
<action type="Rewrite" url="/route.php"  appendQueryString="true" />
</rule>

<rule name="rule 1h" stopProcessing="true">
<match url="^health-wellbeing/news/([^/]+)$"  />
<action type="Rewrite" url="/inc/approve.php"  appendQueryString="true" />
</rule>
<rule name="rule h2" stopProcessing="true">
<match url="^health-wellbeing/news/editArticle.php([^/]+)$"  />
<action type="Rewrite" url="/inc/editArticle.php"  appendQueryString="true" />
</rule>
<rule name="rule h3" stopProcessing="true">
<match url="^health-wellbeing/news/deleteArticle.php([^/]+)$"  />
<action type="Rewrite" url="/inc/deleteArticle.php"  appendQueryString="true" />
</rule>

<rule name="rule l1" stopProcessing="true">
<match url="^map/location/([^/]+)$"  />
<action type="Rewrite" url="/inc/map/map.php?loc={R:1}"  appendQueryString="true" />
</rule>

<rule name="rule m1" stopProcessing="true">
<match url="^map"  />
<action type="Rewrite" url="/inc/map/map.php"  appendQueryString="true" />
</rule>

<rule name="rule r1" stopProcessing="true">
<match url="^routes/route/([^/]+)$"  />
<action type="Rewrite" url="/inc/map/routes.php?route={R:1}"  appendQueryString="true" />
</rule>

<rule name="rule r2" stopProcessing="true">
<match url="^routes"  />
<action type="Rewrite" url="/inc/map/routes.php"  appendQueryString="true" />
</rule>

<rule name="rule m2" stopProcessing="true">
<match url="^addmap"  />
<action type="Rewrite" url="/inc/map/addmap.php"  appendQueryString="true" />
</rule>

<rule name="rule r3" stopProcessing="true">
<match url="^addroute"  />
<action type="Rewrite" url="/inc/map/addroute.php"  appendQueryString="true" />
</rule>

<rule name="rule 2l" stopProcessing="true">
<match url="^approve/location/([^/]+)$"  />
<action type="Rewrite" url="/inc/map/approve.php?loc={R:1}"  appendQueryString="true" />
</rule>

<rule name="rule r4" stopProcessing="true">
<match url="^approve/route/([^/]+)$"  />
<action type="Rewrite" url="/inc/map/approve.php?route={R:1}"  appendQueryString="true" />
</rule>

<rule name="rule l3" stopProcessing="true">
<match url="^delete/location/([^/]+)$"  />
<action type="Rewrite" url="/inc/map/delete.php?loc={R:1}"  appendQueryString="true" />
</rule>

<rule name="rule r5" stopProcessing="true">
<match url="^delete/route/([^/]+)$"  />
<action type="Rewrite" url="/inc/map/delete.php?route={R:1}"  appendQueryString="true" />
</rule>

</rules>
</rewrite>
</system.webServer>
</configuration>
