/* Icoons */

.lnr-apartment {
	margin: 0 5px;
	color: white;
	font-size: 30px;
	/* To get crisp results, use sizes that are
	a multiple of 20; because Linearicons was
	designed on a 20 by 20 grid. */
}

.lnr-menu {
	margin: 0 5px;
	color: white;
	font-size: 20px;
	/* To get crisp results, use sizes that are
	a multiple of 20; because Linearicons was
	designed on a 20 by 20 grid. */
}

.lnr-magnifier {
	margin: 0 5px;
	color: #e040fb;
	font-size: 20px;
	/* To get crisp results, use sizes that are
	a multiple of 20; because Linearicons was
	designed on a 20 by 20 grid. */
}

.lnr-magnifier {
	margin: 0 5px;
	color: #e040fb;
	font-size: 20px;
	/* To get crisp results, use sizes that are
	a multiple of 20; because Linearicons was
	designed on a 20 by 20 grid. */
}

.lnr-users {
	margin: 0 5px;
	color: #e040fb;
	font-size: 20px;
	/* To get crisp results, use sizes that are
	a multiple of 20; because Linearicons was
	designed on a 20 by 20 grid. */
}

.lnr-heart-pulse {
	margin: 0 5px;
	color: #e040fb;
	font-size: 20px;
	/* To get crisp results, use sizes that are
	a multiple of 20; because Linearicons was
	designed on a 20 by 20 grid. */
}

.lnr-map {
	margin: 0 5px;
	color: #e040fb;
	font-size: 20px;
	text-align: center;
	/* To get crisp results, use sizes that are
	a multiple of 20; because Linearicons was
	designed on a 20 by 20 grid. */
}

.nav-wrapper .brand-logo {
	font-family: 'Orbitron', sans-serif;
	margin-left: 10px;
}

.nav-wrapper ul > li:first-child > span {
	text-align: center;
	padding: 0 15px;
}

.nav-wrapper ul > li:first-child > span:hover {
	background-color: rgba(0,0,0,.1);
}

.searchInput {
	position: fixed;
	top: 64px;
	right: 0;
	display: none;
	background-color: white;
	width: 100%;
	height: 50px;
	padding: 0 10px;
	box-shadow: 0px 1px 5px grey;
	z-index: 100;
}

.searchInput > form > input {
	text-align: center;
	border-bottom: none;
}

.searchInput > form > input:focus {
	border-bottom: 1px solid transparent !important;
	box-shadow: 0 1px 0 0 transparent !important
}

footer {
	background-color: #555;
	color: white;
}

/* Sportlethen */

.sp-title {
	text-align: center;
	padding : 15px 0;
}

.sp-genre {
	margin: 10px 0 !important;
	padding: 25px !important;
	text-align: center;
	background-color: #8e24aa;
	color: white;
	font-size: 1.5em;
	font-family: 'Orbitron', sans-serif;
	margin: 0;
}

.sp-genre:hover {
	background-color: #6a1b9a;
}

.sp-genre-list {
	padding: 15px !important;
	font-size: 1.5em;
	font-family: 'Orbitron', sans-serif;
	color: #8e24aa;
}

/*------------Media queries-------------*/


/*small*/
@media screen and (max-width: 600px) {
	.nav-wrapper .brand-logo {
		font-size: .9em !important;
		margin-left: 5px;
	}
	.lnr-apartment {
		font-size: 20px !important;
	}
	.searchInput {
		top: 54px;
	}
}
/*medium*/
@media screen and (max-width: 992px) and (min-width: 601px) {

}
/*large*/
@media screen and (min-width: 991px) {

}
